.App {
  text-align: center;
}

.ui.five.cards>.card {
  width: calc(19% - 1.5em);
}

.ui.menu {
  margin: 3rem 0;
  border-radius: 0;
  min-height: 3.5em;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-default {
  background-color: rgb(8, 108, 201);
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: whitesmoke;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: whitesmoke;
  background-color: rgb(18, 99, 175);
}

.navbar-default {
  color: whitesmoke;
  -webkit-box-shadow: 0px 6px 19px 5px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 6px 19px 5px rgba(0,0,0,0.40);
  box-shadow: 0px 6px 19px 5px rgba(0,0,0,0.40);
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-collapse.collapse {
  width: 100%;
}

.navbar-default .navbar-brand {
  color: whitesmoke;
  list-style-type: none;
}

.navbar-brand a {
  color: whitesmoke;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-toggle {
  background-color: whitesmoke;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.container>.navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.city-sidebar {
  width: 25%;
  float: left;
  margin: 0 20px;
  border-radius: 5px;
  height: fit-content;
  background-color: whitesmoke;
  padding: 10px;
}

.state-header {
  margin-top: 0;
}

.city-header {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-brand a {
    padding-left: 0;
    padding-right: 0;
  }
}