@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  background-image: linear-gradient(rgba(218, 218, 218, 0.5), rgba(216, 216, 216, 0.5)), url("images/clouds.jpg");
  height: 100%;
}

.App {
  text-align: center;
}

.ui.five.cards>.card {
  width: calc(19% - 1.5em);
  color: black;
}

.ui.one.cards>.card {
  width: 90%;
}

.ui.menu {
  margin: 3rem 0;
  border-radius: 0;
  min-height: 3.5em;
}

.navbar {
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 500;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgb(134, 134, 134);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: whitesmoke;
  background-color: rgb(66, 66, 66);
}

.navbar-default {
  color: whitesmoke;
  -webkit-box-shadow: 0px 6px 19px 5px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 6px 19px 5px rgba(0,0,0,0.40);
  box-shadow: 0px 6px 19px 5px rgba(0,0,0,0.40);
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-collapse.collapse {
  width: 100%;
}

.navbar-default .navbar-brand {
  color: whitesmoke;
  list-style-type: none;
}

.navbar-brand a {
  color: whitesmoke;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-toggle {
  background-color: whitesmoke;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.container>.navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.city-sidebar {
  width: 20%;
  float: left;
  margin: 0 3%;
  border-radius: 4px;
  height: fit-content;
  background-color: whitesmoke;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 43px -7px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 10px 43px -7px rgba(0,0,0,0.46);
  box-shadow: 0px 10px 43px -7px rgba(0,0,0,0.46);
}

.city-sidebar>h1,h2,h3,h4 {
  font-family: 'Quicksand', sans-serif;
}

.city-sidebar hr {
  border-top: 1px solid gray;
}

.icon-sidebar {
  width: 80px;
}

.sidebar-image {
  width: 90%;
  border-radius: 5px;
  margin: 10px auto;
}

.city-header {
  margin-bottom: 2%;
  margin-top: 0;
}

.sidebar-weather h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-weather h2 {
  margin-top: 0;
}

.sidebar-weather h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.weather-widget {
  width: 72%;
  float: left;
  margin: 0 0 20px 0;
  border-radius: 4px;
  height: fit-content;
  background-color: rgba(50, 75, 109, 0.9);
  padding: 10px;
  -webkit-box-shadow: 0px 10px 43px -7px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 10px 43px -7px rgba(0,0,0,0.46);
  box-shadow: 0px 10px 43px -7px rgba(0,0,0,0.46);
}

.weather-widget hr {
  border-top: 1px solid gray;
}

.daily-container {
  margin: 15px 0;
}

.daily-cards {
  width: 23%;
  margin: 1%;
  float: left;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
}

.daily-cards hr {
  margin: 5%;
  border-top: 1px solid black;
}

.daily-cards h3 {
  margin: 2% 0;
}

.daily-cards h4 {
  margin-top: 0;
}

.fiveDay-card {
  width: 18%;
  float: left;
  margin: 1%;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
}

.fiveDay-card h3 {
  margin: 2% 0;
}

.fiveDay-card hr {
  margin: 5%;
  border-top: 1px solid black;
}

.fiveDay-card h4 {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {

  body {
    background: lightblue;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .ui.card>.content, .ui.cards>.card>.content {
    font-size: 2em;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .ui.card>.image, .ui.cards>.card>.image {
    padding: 0 10px 10px 10px;
    border-radius: 20px;
    background: white;
  }

  .navbar-brand a {
    padding-left: 0;
    padding-right: 0;
  }

  .city-sidebar {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .weather-widget {
    width: 90%;
    margin: 5%;
  }

  .daily-cards {
    width: 45%;
    margin: 2.5%;
  }

  .fiveDay-card {
    width: 95%;
    margin: 2.5%;
  }
}